/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BakerMetabolomics/nextflow configuration file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Include the base config file
includeConfig 'conf/base.config'

// Profile-specific configurations
profiles {
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
}


nextflow.enable.dsl = 2

manifest {
  name        = 'BakerMetabolomics'
  version     = '0.1.0'
  author      = 'Corey Giles'
  description = 'Metabolomics data processing pipeline'
}

plugins {
    id 'nf-sqldb'
}